<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new bike</title>
</head>
<body>
    <form method="POST"><b></b>
        <b>Model</b> <input type="text" placeholder="e.g. Honda" name='model'>
        <br>
        <br>
        <b>Daily fee (VND) </b> <input type="text" placeholder="e.g. 100000" name='daily_fee'>
        <br>
        <br>
        <b>Image</b> <input type="text" placeholder="e.g. https://hondaxemay.com" name='img_link'>
        <br>
        <br>
        <b>Year</b> <input type="text" placeholder="e.g. 2013" name='year'>
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>