<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add food</title>
</head>
<body>
    <form method="POST">
        <input type="text" placeholder="Tiêu đề" name='title'>
        <br>
        <br>
        <input type="text" placeholder="Mô tả" name='desc'>
        <br>
        <br>
        <input type="text" placeholder="Link ảnh" name='img_link'>
        <br>
        <br>
        <select name='food_type'>
            <option value="food">Đồ ăn</option>
            <option value="drink">Đồ uống</option>
        </select>
        <br>
        <br>
        <button>Thêm món ăn</button>
    </form>
</body>
</html>