<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit food</title>
</head>
<body>
    <form method="POST">
        <input type="text" placeholder="Tiêu đề" name='title' value='{{ food.title}}'>
        <br>
        <br>
        <input type="text" placeholder="Mô tả" name='desc' value='{{ food.description}}'>
        <br>
        <br>
        <input type="text" placeholder="Link ảnh" name='img_link' value='{{ food.link}}'>
        <br>
        <br>
        <select name='food_type'>
        {% if food.type == 'food' %}
            <option value="food" selected>Đồ ăn</option>
            <option value="drink">Đồ uống</option>
        {% elif food.type == 'drink' %}
            <option value="food">Đồ ăn</option>
            <option value="drink" selected>Đồ uống</option>
        {% endif %}
        
        </select>
        <br>
        <br>
        <button>Sửa</button>
    </form>
</body>
</html>